<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Date App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% block redirects %}{% endblock %}
        {% block theheader %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Demo App -- Flask + Jinja -- CWEB1116-01</p>
    </footer>
</body>
</html>